.playgroundContainer {

}

.playgroundHeader {

}

.playgroundHeader:first-of-type {
  background: var(--ifm-color-emphasis-600);
  color: var(--ifm-color-content-inverse);
}

.playgroundEditor {

}

.playgroundPreview {
  padding: 1rem;
  background-color: var(--ifm-pre-background);
}
